<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATOD | Crossing Horizon</title>
    <style>
    * {
        background-color: brown;
    }
    </style>
</head>
<body>
    {{> header}}
    <h3 style="color:bisque; text-align: center">{{pageTitle}}</h3>
    <a style="text-decoration: none; color: white;margin: 0 auto;" href="https://www.github.com">View Projects</a>
    {{> footer}}
</body>
</html>